<html>
<head>


    @section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
}

</head>

<body ng-app="MyModule">

    <div>

    </div>

</body>

</html>